header {
    font-size: xx-large;
}
p {
  font-size: small;
}
code {
    font-size: small;
}
li {
    font-size: small;
}
.container-fluid{
    min-height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px auto ;
    grid-gap: 10px;
    grid-template-areas:
            "nav"
            "content";
}
@media (min-width: 300px){
    .container-fluid{
        grid-template-columns: auto 1fr;
        grid-template-rows: auto ;
        grid-template-areas:
                "nav content"
                ;
    }
}

.sidenav {
    height: 100%;
    width: inherit;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
}
.sidenav header{
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: xx-large;;
    color: white;
    display: block;
}
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}